In [81]:
import pandas as pd
import numpy as np

raw = pd.read_csv('./bioinf-edit1 - All.csv')

In [83]:
def augument_data(data):
  data = data.replace('./.:.',  '')
  sorting_table = {"HIGH":0, "MODERATE":1, "LOW":2, 'MODIFIER':3}
  data['Severity'] = data['FORMAT'].apply(lambda x: sorting_table[x.split('|')[2]])
  return data

data = augument_data(raw)

strains = list(map(lambda x : x+'.bam', ['G28c1', 'D11c1', 'I38c2', 'M59c1', 'WT']))

In [84]:
data

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Unnamed: 9,D11c1.bam,G28c1.bam,I38c2.bam,M59c1.bam,WT.bam,Severity
0,I,452,.,C,T,3.54275,.,VDB=0.28;SGB=-0.453602;RPB=0.4;MQB=0.8;BQB=0;M...,ANN=T|missense_variant|MODERATE|YAL069W|YAL069...,GT:PL,,"0/1:31,0,44",,,,1
1,I,452,.,CATCTCAA,C,3.80467,.,INDEL;IDV=4;IMF=0.5;VDB=0.108414;SGB=-0.556411...,ANN=C|frameshift_variant|HIGH|YAL069W|YAL069W|...,GT:PL,,"0/1:39,0,57",,,,0
2,I,476,.,G,T,62.13250,.,VDB=0.0530329;SGB=-0.616816;MQSB=0;MQ0F=0;AF1=...,ANN=T|missense_variant|MODERATE|YAL069W|YAL069...,GT:PL,,"1/1:95,18,0","1/1:55,18,0",,,1
3,I,509,.,G,"T,A,C",26.77350,.,VDB=0.411594;SGB=-0.511536;MQSB=1;MQ0F=0.33333...,ANN=T|stop_gained|HIGH|YAL069W|YAL069W|transcr...,GT:PL,,"0/1:41,11,8,32,0,29,42,10,31,39",,,"2/2:58,.,.,6,.,0,.,.,.,.",0
4,I,519,.,C,T,22.04270,.,VDB=0.324419;SGB=-0.590765;RPB=0.333321;MQB=0....,ANN=T|missense_variant|MODERATE|YAL069W|YAL069...,GT:PL,"0/1:33,2,0",,,"0/1:52,0,24",,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,Mito,59213,.,TAA,T,74.46650,.,INDEL;IDV=31;IMF=0.139013;VDB=0.999321;SGB=-0....,ANN=T|non_coding_transcript_exon_variant|MODIF...,GT:PL,,,,"0/1:77,0,255","0/1:112,0,135",3
437,Mito,65922,.,GGGGGC,G,214.45800,.,INDEL;IDV=1;IMF=0.00571429;VDB=1.50203e-08;SGB...,ANN=G|frameshift_variant|HIGH|Q0182|Q0182|tran...,GT:PL,,,,"1/1:255,255,0",,0
438,Mito,75889,.,A,G,88.51350,.,SGB=-0.379885;MQ0F=0;AF1=1;AC1=2;MQ=42;FQ=-29....,ANN=G|intron_variant|MODIFIER|Q0255|Q0255|tran...,GT:PL,,"1/1:40,3,0",,"1/1:121,12,0",,3
439,Mito,85455,.,A,"ATATATT,ATATATG",217.46800,.,INDEL;IDV=1;IMF=0.00403226;VDB=0.0290275;SGB=-...,ANN=ATATATG|non_coding_transcript_exon_variant...,GT:PL,"0/1:255,0,255,.,.,.",,,,"0/2:243,.,.,0,.,255",3
440,Mito,85457,.,A,ATATATT,217.46800,.,INDEL;IDV=1;IMF=0.00588235;VDB=0.509393;SGB=-0...,ANN=ATATATT|non_coding_transcript_exon_variant...,GT:PL,,,,"0/1:255,0,255",,3

In [41]:
strains

['G28c1.bam', 'D11c1.bam', 'I38c2.bam', 'M59c1.bam', 'WT.bam']

In [109]:
def analysis(strain):
  cur = strain
  others = strains.copy()
  others.remove(cur)
  return data[
    data[cur].apply(lambda x: x.startswith('1/1'))
  ][data["QUAL"] < 100].sort_values(by='Severity', ascending=False)
  #[
  #  data[others].applymap(lambda x: x.startswith('1/1')).sum(axis=1)==0
  #  ]

# Specific analysis: M59c1.bam (strains[3])

In [101]:
cur = strains[3]
others = strains.copy()
others.remove(cur)

data[
  data[cur].apply(lambda x: x.startswith('1/1'))
][data["QUAL"] > 100].sort_values(by='Severity')
#[data[others].applymap(lambda x: x.startswith('1/1')).sum(axis=1)==0]

/var/folders/92/3gzjc7p14mvb4pqkx2ryk0680000gn/T/ipykernel_38919/4243020479.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Unnamed: 9,D11c1.bam,G28c1.bam,I38c2.bam,M59c1.bam,WT.bam,Severity
370,XIV,668562,.,C,A,221.999,.,VDB=0.43412;SGB=-0.69312;MQSB=1;MQ0F=0;AF1=1;A...,ANN=A|stop_gained|HIGH|YNR021W|YNR021W|transcr...,GT:PL,,,,"1/1:255,96,0",,0
389,XV,563576,.,G,T,221.999,.,VDB=0.552091;SGB=-0.693141;MQSB=1;MQ0F=0;AF1=1...,ANN=T|stop_gained|HIGH|RGA1|YOR127W|transcript...,GT:PL,,,,"1/1:255,111,0",,0
437,Mito,65922,.,GGGGGC,G,214.458,.,INDEL;IDV=1;IMF=0.00571429;VDB=1.50203e-08;SGB...,ANN=G|frameshift_variant|HIGH|Q0182|Q0182|tran...,GT:PL,,,,"1/1:255,255,0",,0
299,XI,479905,.,T,A,221.999,.,VDB=0.00732327;SGB=-0.691153;MQSB=1;MQ0F=0;AF1...,ANN=A|missense_variant|MODERATE|ALY1|YKR021W|t...,GT:PL,,,,"1/1:255,54,0",,1

# Tinkering

In [110]:
analysis(strains[1])

/var/folders/92/3gzjc7p14mvb4pqkx2ryk0680000gn/T/ipykernel_38919/2119438.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return data[

TypeError: DataFrame.sort_values() got an unexpected keyword argument 'desc'

In [105]:

analysis(strains[0])

/var/folders/92/3gzjc7p14mvb4pqkx2ryk0680000gn/T/ipykernel_38919/1606315637.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return data[

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Unnamed: 9,D11c1.bam,G28c1.bam,I38c2.bam,M59c1.bam,WT.bam,Severity
388,XV,563560,.,C,A,221.999,.,VDB=0.792586;SGB=-0.692562;MQSB=1;MQ0F=0;AF1=1...,ANN=A|stop_gained|HIGH|RGA1|YOR127W|transcript...,GT:PL,,"1/1:255,66,0",,,,0
352,XIII,711559,.,G,C,221.999,.,VDB=0.492255;SGB=-0.693021;MQSB=1;MQ0F=0;AF1=1...,ANN=C|missense_variant|MODERATE|ESC1|YMR219W|t...,GT:PL,,"1/1:255,81,0",,,,1

In [106]:

analysis(strains[2])

/var/folders/92/3gzjc7p14mvb4pqkx2ryk0680000gn/T/ipykernel_38919/1606315637.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return data[

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Unnamed: 9,D11c1.bam,G28c1.bam,I38c2.bam,M59c1.bam,WT.bam,Severity
193,VII,576333,.,C,A,221.999,.,VDB=0.162935;SGB=-0.693127;MQSB=1;MQ0F=0;AF1=1...,ANN=A|stop_gained|HIGH|KSS1|YGR040W|transcript...,GT:PL,,,"1/1:255,99,0",,,0
322,XII,1003220,.,G,C,225.009,.,VDB=0.502815;SGB=-0.693143;MQSB=0.976313;MQ0F=...,ANN=C|missense_variant|MODERATE|IMD3|YLR432W|t...,GT:PL,,,"1/1:255,114,0",,"0/1:255,0,255",1

In [107]:
x = analysis(strains[2])

/var/folders/92/3gzjc7p14mvb4pqkx2ryk0680000gn/T/ipykernel_38919/1606315637.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return data[

In [ ]:
x.loc[]